body {
    background-image:url("https://images2.alphacoders.com/134/thumb-1920-1347885.jpeg") ;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
  }
  
  header {
    background-color: ;
    color: white;
    text-align: center;
  }
  
  header h1 {
    font-size: 70px;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    font-size:20px;
    color: white;
    margin: 0 15px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
  }
  
  nav a:hover {
    color: #f5a623;
  }
  
  .intro {
    background-color: #224466;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
  }
  
  .intro h2 {
    margin-bottom: 10px;
  }
  
  .intro p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .intro img {
    max-width: 100%;
    height: 400px;
    border-radius: 10px;
  }
  .personagens {
    margin-top: 40px;
    text-align: center;
  }
  
  .personagens h2 {
    color:white;
  }
  .personagem{
    display: inline-block;
    width: 250px; 
    height: 350px;
    margin: 15px;
    padding: 10px;
    background-color: #e4e4e4;
    border-radius: 10px;
    
  }
  
  .personagem img{
    width: 150px; 
    height: 100px;
    border-radius: 10px;
  }
  
  .personagem h3 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .historia {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border-radius: 10px;
  }
  
  .historia h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  .historia p {
    font-size: 18px;
  }
  
  footer {
    background-color: #224466;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
  }
  